<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        .flex-center {
            display: flex;
            justify-content: center;
            margin: 16px;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="flex-center">
        <h1>档案管理系统</h1>
    </div>
    <div class="flex-center">
        账号：
        <label>
            <input type="text">
        </label>
    </div>
    <div class="flex-center">
        密码：
        <label>
            <input type="password">
        </label>
    </div>
    <div class="flex-center">
        <button onclick="alert('该功能暂未实现!')">登录</button>
    </div>
</div>
</body>
</html>